*{
  box-sizing: border-box;
}
body {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
}
#container {
  display: flex;
  flex-direction: column;
}

#formblock{
  height:250px;
  margin-left:40px;
  width: 290px;
  background-color:aquamarine;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.4);
}
.lineitem {
  width: 280px;
  background-color: aquamarine;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.4);
  margin: 10px;
}

#formblock{
  padding: 5px;
  height: 260px;
}
.input{
  width: 200px;
  padding: 5px 10px;
  margin: 10px 10px 0px 30px;
}

.lineitem:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}


#details {
  margin-top: 20px;
  margin-left: 40px;
  padding: 20px 0px 20px 40px;
  width: 290px;
  background-color: aquamarine;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.4);
}

#editData{
  height: 20px;
  width: 50px;
  margin: 5px;
  background-color:yellow;
}

#deleteData{
  height: 20px;
  width: 50px;
  margin: 5px;
  background-color: red;
}

#closeData{
  height: 20px;
  width: 50px;
  margin: 5px;
}